<div id="content" class="container">
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		
		<h3>Welcome to the BobJ Loader version 0.0001</h3>
		<p>There are <%= @total_records %> of which <%= @new_records are new %></p>
		
		
		<form role="form" action="/loader" method="get">
				<div class="center">
					<button type="submit" class="btn btn-default">load them rows</button>
				</div>
		</form>
		
	</div>
</div>
</div>