<!DOCTYPE html>
<html>
	<head>
		<!--<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" /> -->
		<link rel="shortcut icon" type="image/x-icon" href="https://www.herokucdn.com/favicon.ico" />
		<link rel="stylesheet" href="/css/purple.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<!--	<script src="js/purple.js" type="text/javascript" charset="utf-8"></script> -->
	</head>
	<body>
		<header id="header" class="gradient-primary">
			<div class="container text-center">
				<div class="title">Big Object Loader
					<% if ENV['version'] == "BETA" %>
						<%= puts " -- BETA VERSION" %>
					<% end %>
				</div>
				<div class="smalltitle"></div>
			</div>
		</header>
		<%= yield %>
	</body>
</html>
